<h1>Site Menu</h1>
<ul>
  <li><a href="/sota-guides.html">SOTA Trip Library</a></li>
  <li><a href="/learning-links">Learning Links</a></li>
  <li><a href="/cw-cheat-sheet">CW Cheat Sheet</a></li>
  <li><a href="/sota-menu.html">SOTA Menu</a></li>
  <li><a href="/radio-happiness-forecast">Radio Happiness Forecast</a></li>
  <li><a href="/sota-serial-ebook">SOTA Serial eBook</a></li>
  <li><a href="/track-me">Where is Kevin?</a></li>
  <li><a href="http://kleinfelter.com">My Non-ham Web Site</a></li>
</ul>
